* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    align-items: center;
    background-color: black;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

@keyframes anim {
    0% {
        box-shadow: none;
        opacity: 0;
        margin-top: -200px;
    }
    100% {
        box-shadow: 0 0 40px #0086ff;
        opacity: 1;
        margin-top: 0;
    }
}

p {
    align-items: center;
    box-shadow: 0 0 40px #0086ff;
    border-radius: 50%;
    color: #0086ff;
    display: flex;
    font-size: 50px;
    height: 100px;
    justify-content: center;
    margin: 0 10px;
    width: 100px;
}